<!DOCTYPE html>
<html>
<head>
    <title>Yellow Flags</title>
</head>
<body>
    <h1>Yellow Flags</h1>

    <form action="/yes-again" method="POST">
       <h3>Emotional and Psychological Factors:</h3><br>
        <label>
            Have you been experiencing significant distress, anxiety, or depression related to your pain?<br>
            <br><input type="radio" name="vascular" value="yes"> Yes
                <input type="radio" name="vascular" value="no"> No
                <input type="radio" name="vascular" value="unsure"> Unsure<br>
            <br>Do you find yourself constantly worrying about your pain or having negative thoughts about the future?            <br>
            <br><input type="radio" name="vascula" value="yes"> Yes
                <input type="radio" name="vascula" value="no"> No
                <input type="radio" name="vascula" value="unsure"> Unsure<br>
        </label>

        <br><h3>Social and Environmental Factors:</h3><br>
        <label>
            Do you feel supported by your social network in relation to your pain?<br>
            <br><input type="radio" name="neoplastic" value="yes"> Yes
            <input type="radio" name="neoplastic" value="no"> No
            <input type="radio" name="neoplastic" value="unsure"> Unsure<br>
            <br>Have there been any significant life events or stressors that coincided with the onset or worsening of your pain?            <br>
            <br><input type="radio" name="neoplasti" value="yes"> Yes
            <input type="radio" name="neoplasti" value="no"> No
            <input type="radio" name="neoplasti" value="unsure"> Unsure<br>
        </label>

        <br><h3>Work and Occupational Factors:</h3><br>
        <label>
            Are there any specific challenges or concerns related to your job that contribute to your pain experience?<br>
            <br><input type="radio" name="degenerative" value="yes"> Yes
            <input type="radio" name="degenerative" value="no"> No
            <input type="radio" name="degenerative" value="unsure"> Unsure<br>
            <br>Do you feel supported by your employer or colleagues in managing your pain at work?            <br>
            <br><input type="radio" name="degeneratie" value="yes"> Yes
            <input type="radio" name="degeneratie" value="no"> No
            <input type="radio" name="degeneratie" value="unsure"> Unsure<br>
        </label>

        <br><h3>Treatment Expectations and Approaches:</h3><br>
        <label>
            Are you solely relying on passive treatments (medications, interventions) or actively participating in self-management strategies?<br>
            <br><input type="radio" name="iatrogenic" value="yes"> Yes
            <input type="radio" name="iatrogenic" value="no"> No
            <input type="radio" name="iatrogenic" value="unsure"> Unsure<br>
            <br>Have you tried any complementary or alternative therapies to manage your pain?<br>
            <br><input type="radio" name="iatrogeni" value="yes"> Yes
            <input type="radio" name="iatrogeni" value="no"> No
            <input type="radio" name="iatrogeni" value="unsure"> Unsure<br>
        </label>

        <input type="submit" value="Submit">
    </form>
</body>
</html>