{% extends 'Base.html' %}

{% block content %}
    <div style="display: flex; justify-content: center">
    <form method="post" action="{{ post_URL }}">
        <div style="text-align: left">

    <title>Acute Back Pain</title>
</head>
<body>
    <div class="container">
        <h1>Acute Back Pain</h1>
        <p><b>Symptoms</b> :<br>
            1. Back pain that appears out of nowhere and is usually localized to one particular location.<br>
            2. A severe, piercing, or stabbing pain that might get worse as you move.<br>
            3. Limited mobility or trouble bending, standing, or walking.<br>
            4. Back muscle stiffness or spasms.<br>
            5. Pain that, if nerve involvement is evident, may radiate to the legs or buttocks.<br>
            6. If there is nerve involvement, additional symptoms including tingling, numbness, or weakness in the legs may be present.<br>
            <b>Causes</b> :<br>
            1. Back muscles or ligaments can be strained by excessive exercise, lifting bulky things, quick motions, or poor posture.<br>
            2. Disc herniation: Back discomfort can result from the compression of adjacent nerves when the soft, gel-like centre of a spinal disc pushes through a tear in the outer covering.<br>
            3. Spinal stenosis: When the spinal canal becomes smaller, usually as we age, the spinal cord or nerves may become compressed.<br>
            4. Fractures or injuries to the spine can cause severe back pain.<br>
            5. These injuries might include fractures, dislocations, or sprains.<br>
            6. Infections or inflammations: Acute back pain can be brought on by illnesses such as osteomyelitis, spondylitis, or spinal infections.<br>
            <b>Risk Factors</b> :<br>
            1. Sedentary behaviour: A lack of regular exercise or physical activity can deteriorate the back's muscles and increase the likelihood of injury.<br>
            2. Poor posture: Sitting or standing for extended periods of time in a stooped or slouched position can strain the back.<br>
            3. Obesity: Carrying around extra weight puts additional strain on the spine, which can cause back pain.<br>
            4. Risks associated with some occupations include those that require heavy lifting, repetitive motions, or extended periods of sitting or standing.<br>
            5. Psychological factors: Back pain may start or get worse as a result of stress, anxiety, or depression.<br>
            <b>Treatments</b> :<br>
            1. Rest: While brief periods of inactivity can help with acute back pain, this should be avoided.<br>
            2. Painkillers: Nonsteroidal anti-inflammatory medications (NSAIDs) or acetaminophen, both of which are available over-the-counter, can offer momentary relief.<br>
            3. Applying heat or cold therapy to the affected area can assist to lessen discomfort and swelling.<br>
            4. Physical therapy: Particular stretches and exercises can increase flexibility, strengthen the back muscles, and lessen pain.<br>
            5. Chiropractic or massage therapy can assist to relax muscles, increase blood flow, and lessen discomfort.<br>
            6. Corticosteroid injections may be used in some circumstances to reduce inflammation and relieve pain.<br>
            7. Surgery is often a last resort and is only suggested in the most severe situations or after other therapies have failed.

             </p>
    </div>
</body>
</html>


    </form>
    </div>
{% endblock %}