<!DOCTYPE html>
<html lang="en">
<head>
    
<meta charset="UTF-8">
    <title>{{ gettext('Back Pain') }}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='css/Back_Pain_App.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/Back_Pain_App.js')}}"></script>

    <!-- This Script is added to track the website usage -->
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-Q1LYKS933M"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-Q1LYKS933M");
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<nav class="navbar">
    <a class="home left_button" href="{{ url_for('index')}}">
        {{ gettext('Restart') }}
    </a>
    <span class="title">{{ gettext('Back Pain') }}</span>
    <a class="home right_button" href="https://sites.google.com/view/mobilemskdemo/home">
        {{ gettext('Your Site') }}
    </a>

</nav>   
<div class="dropdown">
    <span class="globe-icon">&#127760;</span>
    <div class="dropdown-menu">
        <a href="/" data-language="zh"><img width="30" height="30" src="https://img.icons8.com/color/48/china.png" alt="china"/>Chinese</a>
        <a href="/" data-language="en"><img width="30" height="30" src="https://img.icons8.com/color/48/great-britain.png" alt="great-britain"/>English</a>
        <a href="/" data-language="fr"><img width="30" height="30" src="https://img.icons8.com/color/48/france.png" alt="france"/>French</a>
        <a href="/" data-language="hi"><img width="30" height="30" src="https://img.icons8.com/color/48/india.png" alt="india"/>Hindi</a>
        <a href="/" data-language="es"><img width="30" height="30" src="https://img.icons8.com/color/48/spain-2.png" alt="spain-2"/>Spanish</a>
        
        
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.globe-icon').click(function() {
            $('.dropdown-menu').toggle();
        });

        $('.dropdown-menu a').click(function(e) {
            e.preventDefault();
            var selectedLanguage = $(this).data('language');
            $.ajax({
                    type: 'POST',
                    url: '/',
                    contentType: 'application/json',
                    data: JSON.stringify({ language: selectedLanguage }),
                    success: function() {
                        location.reload(); // Refresh the page
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });
        });
    });
</script>
<div class="main"><br><br>
{% block content %} {% endblock %}
</div>
</body>
</html>





