{% extends 'Base.html' %}

{% block content %}
    <div style="display: flex; justify-content: center">
    <form method="post" action="{{ post_URL }}">
        <div style="text-align: left">
    <title>Chronic Back Pain</title>
</head>
<body>
    <div class="container">
        <h1>Chronic Back Pain</h1>
        <p><b>Symptoms</b> :<br>
            1. back pain that has persisted for longer than three months.<br>
            2. dull, painful, or intense pain that is constant or frequently occurring.<br>
            3. restricted back flexibility and mobility.<br>
            4. discomfort that spreads to the legs, buttocks, or hips.<br>
            5. fatigue, trouble sleeping, or changes in mood brought on by persistent discomfort.<br>
            <b>Causes</b> :<br>
            1. Degenerative disc disease: Prolonged disc degeneration in the spine can cause persistent back discomfort.<br>
            2. Osteoarthritis or other types of arthritis that damage the spine can result in persistent pain and stiffness.<br>
            3. Spinal stenosis: The narrowing of the spinal canal, frequently brought on by ageing, can irritate the nerves and result in persistent discomfort.<br>
            4. Herniated discs: Chronic back pain can develop when the fragile, gel-like centre of a spinal disc protrudes and presses on nerves.<br>
            5. structural abnormalities: Spinal misalignments or scoliosis, which is an abnormal curvature of the spine, can cause chronic discomfort.<br>
            6. Chronic back pain can result from persistent muscle strain, muscle imbalances, or repetitive strain injuries.<br>
            7. Chronic pain may be brought on by underlying medical illnesses including fibromyalgia, rheumatoid arthritis, or autoimmune diseases.<br>
            <b>Risk Factors</b> :<br>
            1. Back surgery or injury history: Having had back surgery or injury increases the likelihood of getting chronic pain.<br>
            2. Body mechanics issues: Poor posture and movement patterns can strain the back and cause persistent discomfort.<br>
            3. Lifestyle of inactivity: Lack of exercise and physical activity can weaken back muscles and increase the likelihood of developing chronic pain.<br>
            4. Obesity: Carrying too much weight increases strain on the back, raising the risk of chronic discomfort.<br>
            5. Psychological causes: Long-term stress, worry, depressive feelings, or other emotional problems can intensify pain perception and cause chronic back pain.<br>
            <b>Treatments</b> :<br>
            1. Physical therapy: Specific exercises, stretches, and routines for strengthening and powering through pain can enhance back function and lessen pain.<br>
            2. Drugs: Nonsteroidal anti-inflammatory medications (NSAIMs), muscle relaxants, or opioids may be used to treat chronic pain.<br>
            3. Applying heat or cold therapy to the area that is hurting can temporarily reduce pain.<br>
            4. Techniques for electrical stimulation: Neuromodulation devices or transcutaneous electrical nerve stimulation (TENS) can assist treat chronic pain.<br>
            5. Interventional procedures: For pain treatment, you may want to explore epidural steroid injections, facet joint injections, or radiofrequency ablation.<br>
            6. Therapies that work in addition to conventional medicine include acupuncture, chiropractic adjustments, massage therapy, and mindfulness-based stress reduction.<br>
            7. Programmes for managing pain: Physical treatment, psychological counselling, and education are all components of multidisciplinary programmes for managing pain.<br>
            8. Intervention by surgery: When other conservative measures have failed or there is a clear structural issue causing chronic pain, surgery may be advised in some circumstances.
            </p>
    </div>
</body>
</html>

</form>
</div>
{% endblock %}

