<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Back_Pain_App.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/flash-messages.css')}}">
</head>
{% block content %}
    <nav class="navbar">
        <a class="home left_button" href="{{ url_for('index')}}">Restart</a>
        <span class="title">Back Pain</span>
        <a class="home right_button" href="{{ url_for('register')}}">Register</a>
    </nav>
    <div class="form-container">
        <div class="form-main">
            <h1>Log In</h1><br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li class="flash-message flash-error">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="/login" method="post">
                <div>
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto mandatory" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div>
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto mandatory" id="password" name="password" placeholder="Password" type="password">
                </div>
                <div>
                    <button class="default_button" type="submit" style="width:100px;">Log In</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
</html>
