{% extends 'Base.html' %}

{% block content %}
    <div style="display: flex; justify-content: center">
    <form method="post" action="{{ post_URL }}">
        <div style="text-align: left">
    <title>Lower Back Pain</title>

</head>
<body>
    <div class="container">
        <h1>Lower Back Pain</h1>
        <p><b>Symptoms</b> :<br>
            1. Localised lower back pain or discomfort between the ribcage and the buttocks.<br>
            2. Lower back discomfort that is dull and aching or that is severe and stabbing.<br>
            3. Pain that, if nerve involvement is present, may radiate to the legs, hips, or buttocks.<br>
            4. Lower back stiffness or restricted range of motion.<br>
            5. stiffness or spasms in the lower back muscles.<br>
            6. difficulty holding certain positions for an extended period of time or standing up straight.<br>
            <b>Causes</b> :<br>
            1. Lower back muscles can be strained by excessive exercise, lifting bulky things, quick motions, or poor posture.<br>
            2. Disc issues: When the discs push on nerves, herniated discs, bulging discs, or degenerative disc disease can result in lower back discomfort.<br>
            3. Spinal stenosis: When the spinal canal narrows, the nerves in the lower back may be compressed and experience pain.<br>
            4. Lumbar sprain: Sudden twisting or moving large objects can sprain the ligaments in the lower back.<br>
            5. Sciatica: The sciatic nerve can become compressed or irritated, resulting in pain that radiates from the lower back to the legs.<br>
            6. Lower back discomfort may be brought on by osteoarthritis or other types of arthritis that damage the spine.<br>
            7. structural abnormalities: Scoliosis, which causes the spine to curve abnormally, and spondylolisthesis, which causes the vertebrae to slip, are two conditions that can result in lower back discomfort.<br>
            <b>Risk Factors</b> :<br>
            1. Age: As the spine degenerates with age, the risk of lower back discomfort increases.<br>
            2. Slouching or keeping poor posture puts tension on the lower back and raises the possibility of pain.<br>
            3. Lifestyle of inactivity: A sedentary lifestyle weakens the back muscles and increases the risk of lower back discomfort.<br>
            4. Obesity: Carrying too much weight increases strain on the lower back, raising the risk of pain.<br>
            5. Jobs and hobbies that require heavy lifting, repetitive motions, or extended periods of sitting or standing can aggravate lower back discomfort.<br>
            6. Smoking: Smoking can raise the risk of lower back pain by reducing blood flow to the spinal discs.<br>
            7. Psychological factors: Lower back pain can be aggravated or develop as a result of stress, anxiety, or melancholy.<br>
            <b>Treatments</b> :<br>
            1. Rest: Acute lower back pain can be relieved temporarily by rest, but extended inactivity should be avoided.<br>
            2. Physical therapy: Specific exercises, stretches, and strengthening regimens can enhance the posture, flexibility, and strength of the lower back.<br>
            3. Painkillers: Nonsteroidal anti-inflammatory medications (NSAIDs) or acetaminophen, both of which are available over-the-counter, can offer momentary relief.<br>
            4. Applying heat or cold therapy to the affected area can assist to lessen discomfort and swelling.<br>
            5. Lower back discomfort may be treated with manual therapy, including osteopathic manipulation and chiropractic adjustments.<br>
            6. Epidural steroid injections: Corticosteroid injections into the painful location may offer momentary relief from lower back discomfort.<br>
            7. Thin needles are inserted into certain body sites during acupuncture therapy in order to reduce pain and encourage healing.<br>
            8. Surgery is often a last resort and is only suggested in the most severe situations or after other therapies have failed.
            </p>
    </div>
</body>
</html>

</form>
</div>
{% endblock %}

