{% extends 'Base.html' %}

{% block content %}
    <div style="display: flex; justify-content: center">
    <form method="post" action="{{ post_URL }}">
        <div style="text-align: left">

    <title>Middle Back Pain</title>

</head>
<body>
    <div class="container">
        <h1>Middle Back Pain</h1>
        <p><b>Symptoms</b> :<br>
            1. Localised soreness or pain between the shoulder blades in the centre of the back.<br>
            2. A dull, aching discomfort in the centre of the back, or a sudden, stabbing pain.<br>
            3. Pain that might get worse with activity, deep breathing, or in particular positions.<br>
            4. middle-back stiffness or restricted range of motion.<br>
            5. stiffness or spasms in the middle back muscles.<br>
            6. in some circumstances, pain that occasionally spreads to the chest or belly.<br>
            <b>Causes</b>:<br>
            1. Muscle strain can result from excessive exercise, repetitive motions, bad posture, or unexpected twisting.<br>
            2. Postural issues: Slouching, hunching, or spending a lot of time sitting still can all cause middle back pain.<br>
            3. Muscle imbalances: Pain may result from weakness or imbalance in the muscles supporting the middle back.<br>
            4. Thoracic herniated discs: These painful conditions occur when the discs in the centre of the back are injured or protrude.<br>
            5. Osteoarthritis: The deterioration of cartilage in the middle-back joints can cause discomfort and stiffness.<br>
            6. Fractures or injuries: A fall or car accident that causes trauma to the middle back might result in fractures or injuries that cause pain.<br>
            7. Medical disorders: Fibromyalgia, osteoporosis, and spinal infections are a few examples of illnesses that can cause middle back discomfort.<br>
            <b>Risk Factors </b>:<br>
            1. Poor posture raises the risk of middle back discomfort. Slouching, hunching, or maintaining poor posture for lengthy periods of time are examples.<br>
            2. Living a sedentary lifestyle: The back muscles get weaker and are more susceptible to developing middle back discomfort.<br>
            3. Workplace risks: Jobs that require a lot of heavy lifting, extended sitting, or repetitive motions might aggravate middle back discomfort.<br>
            4. Age: As the spine degenerates with age, the risk of middle back discomfort may increase.<br>
            5. Smoking: Smoking can raise the risk of middle back pain by reducing blood supply to the spinal discs.<br>
            6. Psychological factors: Depression, anxiety, and stress can all worsen or even cause middle back pain.<br>
            <b>Treatment</b> :<br>
            1. Correction of posture: While standing, sitting, and lifting, it's important to maintain proper posture and ergonomics.<br>
            2. Exercises that target specific muscles can help with flexibility, middle back muscle strength, and pain management.<br>
            3. Applying heat or cold therapy to the affected area can assist to ease discomfort and tight muscles.<br>
            4. Physical therapy: A physical therapist can treat middle back discomfort using specialised exercises, manual therapy, and other techniques.<br>
            5. Painkillers: Nonsteroidal anti-inflammatory medications (NSAIDs) or acetaminophen, both of which are available over-the-counter, can offer momentary relief.<br>
            6. Massage therapy: Manual manipulation methods can assist the muscles relax, blood circulation is improved, and middle back discomfort is relieved.<br>
            7. Adopting a healthy lifestyle, which includes regular exercise, weight control, stress reduction, and ergonomic changes, can aid in recovery and help prevent recurrence.
            </p>
    </div>
</body>
</html>

</form>
</div>
{% endblock %}

