{% extends 'Base.html' %}

{% block content %}
    <div style="display: flex; justify-content: center">
    <form method="post" action="{{ post_URL }}">
        <div style="text-align: left">
    <title>Subacute Back Pain</title>
</head>
<body>
    <div class="container">
        <h1>Subacute Back Pain</h1>
        <p><b>Symptoms</b> :<br>
            1. longer than six weeks, but less than three months, of back pain.<br>
            2. that varies in intensity and may be either steady or intermittent.<br>
            3. Back pain or stiffness, especially in the morning or after periods of inactivity.<br>
            4. mild to moderate restrictions on daily activities and range of motion.<br>
            5. Possibly present discomfort or accompanied muscular spasms in the affected area.<br>
            <b>Causes</b> :<br>
            1. Back muscle or ligament tension can result from excessive exercise, repetitive motions, or poor posture.<br>
            2. Disc degeneration: As people age, their spinal discs might break down, resulting in subacute back discomfort.<br>
            3. Facet joint dysfunction: The tiny joints between the vertebrae may swell or itch, causing discomfort.<br>
            4. Constant mechanical stress: Subacute back pain may be brought on by poor body mechanics, bad posture, or carrying too much weight on the spine.<br>
            5. Chronic inflammation and back discomfort can be brought on by inflammatory diseases including rheumatoid arthritis and ankylosing spondylitis.<br>
            <b>Risk Factors</b> :<br>
            1. Lifestyle of inactivity: A sedentary lifestyle can weaken back muscles and raise the risk of subacute back pain.<br>
            2. Poor posture: Sitting or standing for extended periods of time in a stooped or slouched position can strain the back.<br>
            3. Obesity: Carrying around extra weight puts additional strain on the spine, which can cause back pain.<br>
            4. Risks associated with some occupations include those that require heavy lifting, repetitive motions, or extended periods of sitting or standing.<br>
            5. Psychological factors: Subacute back pain may develop or continue as a result of stress, anxiety, or depression.<br>
            <b>Treatments</b> :<br>
            1. Physical therapy: Specialised exercises, stretches, and strengthening methods can help with posture, back strength, and flexibility.<br>
            2. medications used to treat pain and inflammation include nonsteroidal anti-inflammatory medications (NSAIDs) and muscle relaxants.<br>
            3. Applying heat or cold therapy to the affected area can assist to lessen discomfort and swelling.<br>
            4. Manual therapy: To relieve pain and realign the spine, methods like chiropractic adjustments or osteopathic manipulative therapy may be utilised.<br>
            5. Cognitive-behavioral treatment (CBT): CBT can teach coping mechanisms and address any psychological issues causing subacute back pain.<br>
            6. A low-voltage electrical current is used in transcutaneous electrical nerve stimulation (TENS) therapy to treat pain.<br>
            7. For temporary pain relief, epidural steroid injections or nerve blocks may be used in specific circumstances.<br>
            8. Lifestyle changes: Adopting a healthy lifestyle, which includes regular exercise, weight control, and ergonomic upgrades, can encourage healing and help prevent recurrence.<br>
            </p>
    </div>
</body>
</html>

</form>
</div>
{% endblock %}

