{% extends 'Base.html' %}

{% block content %}
    <div style="display: flex; justify-content: center">
    <form method="post" action="{{ post_URL }}">
        <div style="text-align: left">
    <title>Upper Back Pain</title>

</head>
<body>
    <div class="container">
        <h1>Upper Back Pain</h1>
        <p><b>Symptoms</b> :<br>
            1. Localised pain or discomfort between the shoulder blades, below the neck, and in the upper back.<br>
            2. Upper back ache that is dull, aching, or sharp, stabbing.<br>
            3. restricted range of motion and difficulties raising or twisting, both of which involve the upper back.<br>
            4. upper back muscle discomfort or stiffness.<br>
            5. Possible auxiliary symptoms include headaches from stress or discomfort that spreads to the arms, shoulders, or neck.<br>
            <b>Causes</b> :<br>
            1. Muscle strain: The muscles in the upper back can get strained through overuse, bad posture, or repetitive motions.<br>
            2. Poor posture: Slouching, hunching, or spending a lot of time in front of a computer can all cause upper back pain.<br>
            3. Trauma or injury: Pain in the upper back can be brought on by slips, trips, or falls.<br>
            4. Herniated discs: If the discs in the upper back are injured or protrude, they may strain on adjacent nerves and hurt.<br>
            5. Osteoarthritis: Pain and stiffness can be brought on by the degeneration of cartilage in the joints of the upper back.<br>
            6. Myofascial pain syndrome: Muscle tightness and localised pain can be brought on by trigger points or muscle knots in the upper back.<br>
            7. Thoracic spine diseases: Upper back discomfort can result from thoracic spine abnormalities such scoliosis, kyphosis, or degenerative disc degeneration.<br>
            <b>Risk Factors</b>:<br>
            1. Poor posture: Slouching or spending long periods of time sitting in an unsupported position increases the risk of upper back pain.<br>
            2. Lifestyle of inactivity: Lower back discomfort is exacerbated by a lack of regular exercise or physical activity, which weakens the back muscles.<br>
            3. Risks associated with some occupations include those that require heavy lifting, repetitive motions, or extended periods of sitting.<br>
            4. Age: As degenerative changes and wear-and-tear develop with ageing, the risk of upper back pain increases.<br>
            5. Obesity: Carrying too much weight puts tension on the upper back and may cause pain.<br>
            6. Psychological factors: Depression, stress, and worry can all worsen or even cause upper back discomfort.<br>
            <b>Treatments </b>:<br>
            1. correcting your posture can help reduce upper back pain. Good posture and ergonomics should be maintained while standing, sitting, and lifting.<br>
            2. Exercises for stretching and building muscle: Specific exercises can help with flexibility, build muscle in the upper back, and lessen pain.<br>
            3. Applying heat or cold therapy to the affected area can assist to ease discomfort and tight muscles.<br>
            4. Massage therapy: Manual manipulation methods can treat upper back discomfort by relaxing the muscles and enhancing blood flow.<br>
            5. Painkillers: Nonsteroidal anti-inflammatory medications (NSAIDs) or acetaminophen, both of which are available over-the-counter, can offer momentary relief.<br>
            6. Physical therapy: A physical therapist can treat upper back discomfort using specialised exercises, manual therapy, and other modalities.<br>
            7. Braces or supports for your posture: These tools can help you stand up straighter and offer support to ease upper back pain.<br>
            8. strategies for managing stress: Upper back discomfort can be controlled by using stress-relieving strategies like mindfulness, meditation, or relaxation exercises.

            </p>
    </div>
</body>
</html>

</form>
</div>
{% endblock %}

