<!DOCTYPE html>
<html>
<head>
    <title>Checking any Red Flags</title>
</head>
<body>
    <h1>Checking for Reg Flags</h1>
    <form action="/checking" method="POST">
        <p>Do you have any of the following else go to next </p>
        <label><input type="checkbox" name="question" value="Numbness">Numbness</label><br>
        <label><input type="checkbox" name="question" value="Tingling">Tingling</label><br>
        <label><input type="checkbox" name="question" value="Chills">Chills</label><br>
        <label><input type="checkbox" name="question" value="Weakness">Weakness</label><br>
        <label><input type="checkbox" name="question" value="Fever">Fever</label><br>
        <label><input type="checkbox" name="question" value="Swelling">Swelling</label><br>
        <label><input type="checkbox" name="question" value="Redness">Redness</label><br>
        <label><input type="checkbox" name="question" value="Tumor">Tumor</label><br>


        <!-- Add more symptom options here -->
        <br>
        <input type="submit" value="next">
    </form>
</body>
</html>


